[Unit]
Description=Log normalisation service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/hnormalise -c /etc/hnormalise/hnormalise.yaml +RTS -N2
Restart=always
UMask=0066

[Install]
WantedBy=multi-user.target
;Alias=hnormalise.service
